---
layout: default
title: "Soupir - Home"
---

<div class="featured-projects">
  <h1>Featured Projects</h1>
  <div class="project-cards">
    {% include project-card.html 
      image="/Projects/marvin/Images/marvin.png" 
      title="Marvin: Robot Assistant" 
      introText="Automation hubs like Google Home and Amazon Echo are cool. Why not build your own?" 
      link="/Projects/marvin/" 
    %}
    {% include project-card.html 
      image="/Projects/ascii-rickroll/Images/rickroll.png" 
      title="ASCII Rickroll in BASH!" 
      introText="A self-contained ASCII Rickroll written in BASH. Great as an error message or pentesting payload." 
      link="/Projects/ascii-rickroll/" 
    %}
    {% include project-card.html 
      image="/Projects/hr1/Images/hr1.png" 
      title="HR-1 The Humanoid Robot" 
      introText="A Bluetooth‑controlled humanoid robot built with Arduino and hobby servos." 
      link="/Projects/hr1/" 
    %}
  </div>
</div>


