---
layout: default
title: "Projects - Soupir"
---

<div class="projectsPage">
  <h1 class="sectionTitle">My Projects</h1>
  <p>I enjoy working on projects for classes and just for fun. Here are a few of the projects I have worked on over the years.</p>
  
  <div class="project-cards">
    {% include project-card.html 
         image="/Projects/neural-reader/Images/nn-square.png" 
         title="neural-reader" 
         introText="Handwritten digit recognition using a neural network written in C." 
         link="/Projects/neural-reader/" 
    %}
    {% include project-card.html 
         image="/Projects/marvin/Images/marvin.png" 
         title="Marvin: Robot Assistant" 
         introText="Automation hubs like Google Home and Amazon Echo are cool. Why not build your own?" 
         link="/Projects/marvin/" 
    %}
    {% include project-card.html 
         image="/Projects/ascii-rickroll/Images/rickroll.png" 
         title="ASCII Rickroll in BASH!" 
         introText="A self-contained ASCII Rickroll written in BASH. Great as an error message or pentesting payload." 
         link="/Projects/ascii-rickroll/" 
    %}
    {% include project-card.html 
         image="/Projects/hr1/Images/hr1.png" 
         title="HR-1 The Humanoid Robot" 
         introText="A Bluetooth‑controlled humanoid robot built with Arduino and hobby servos." 
         link="/Projects/hr1/" 
    %}
    {% include project-card.html 
         image="/Projects/digits/Images/digits.png" 
         title="Digit Occurrence Graphing" 
         introText="A cool little C program to count the occurrences of every digit from zero to your chosen number." 
         link="/Projects/digits/" 
    %}
    {% include project-card.html 
         image="/Projects/diy-smart-switch/Images/switch_tools.webp" 
         title="DIY Smart Switch" 
         introText="These Wi-Fi connected Smart Switch boards can be used to control almost anything in any room." 
         link="/Projects/diy-smart-switch/" 
    %}
  </div>
</div>

